/* ==UserStyle==
@name           Preview Dark Theme
@namespace      seruminar/DarkThemes
@updateURL   	https://raw.githubusercontent.com/seruminar/DarkThemes/master/preview-dark.user.css
@version        1.2.0
@description    A dark theme for Preview.
@author         Yuriy Sountsov

@var text custom-code-font "Custom code font" Monoid

@var color background-color "Background" #1a1a1a
@var color text-color "Text" #c5c8c6

@var color link-color "Link" #0366d6
@var color link-hover-color "Link hover" #0366d6 

@var color menu-color "Menu" #3a3a3a
@var color menu-hover-color "Menu hover" #646464

@var color header-color "Header" #2f2f2f

@var color highlight-color "Highlight" #3399ff

==/UserStyle== */
@-moz-document url-prefix("http://preview:"), url-prefix("https://referencesource.microsoft.com") {

	html {
		background:var(--background-color);
	}

	body {
		background:var(--background-color);
		color: var(--text-color);
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	}
	
	h1 {
		color: var(--background-color);
	}

	pre {
		font-size: 10pt;
		font-family: var(--custom-code-font);
		line-height: normal;
	}

		pre a:focus {
			color: inherit;
			background-color: #00497d;
		}

		pre b {
			font-weight: normal;
			color: #569cd6;
		}

	a:link {
		color: inherit;
	}

	a:visited {
		color: inherit;
	}

	a:hover {
		color: inherit;
	}

	a:active {
		color: inherit;
	}

	table.ex {
		border-color: #484848;
	}

	thead td.ex {
		background-color: #484848;
		border: none;
	}

	tr td.ex {
		border-color: #484848;
	}

	.note {
		background:var(--background-color);
		border:none;
	}

	.resultGroupHeader {
		background-color: var(--menu-color);
		background-image: url('content/icons/minus.png');
	}

		.resultGroupHeader:hover {
			background-color: var(--menu-hover-color);
		}

	.rA {
		background-color: var(--menu-color);
		background-image: url('content/icons/minus.png');
	}

		.rA:hover {
			background-color: var(--menu-hover-color);
		}

	.resultGroupProjectPath {
		color: silver;
	}

		.rL:hover, .referenceLine:hover {
			background-color: var(--menu-hover-color);
		}

	a b {
		color: #2b91af;
	}

	a i {
		background-color: #00497d;
	}

	.l {
		margin-right: 12px;
	}

	.rO, .referenceOccurrence {
		background-color: #00497d;
	}

	.rN, .resultGroupFileName {
		background-color: var(--header-color);
		color: var(--text-color);
	}

	.resultItem {
		border-left-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}

		.resultItem:hover {
			background-color: var(--menu-hover-color) !important;
		}

	.projectExplorerBody, .namespaceExplorerBody, .solutionExplorerBody {
		cursor: default;
		/*font-size: 12px;*/
	}

	.reference {
		background-image: url('content/icons/192.png');
	}

	.referenceDisabled {
		background-image: url('content/icons/192.png');
		color: var(--text-color);
	}

		.typeDeclarationNode:focus, .tDN:focus {
			background-color: var(--highlight-color);
			color: var(--background-color);
		}

	.projectCS {
		background-image: url('content/icons/196.png');
	}

	.projectVB {
		background-image: url('content/icons/195.png');
	}

	.cs {
		background-image: url('content/icons/csharp.png');
	}

		.cs:focus {
			background-color: var(--highlight-color);
			color: var(--background-color);
		}

	.vb {
		background-image: url('content/icons/vb.png');
	}

		.vb:focus {
			background-color: var(--highlight-color);
			color: var(--background-color);
		}

	.csproj {
		background-image: url('content/icons/196.png');
	}

		.csproj:focus {
			background-color: var(--highlight-color);
			color: var(--background-color);
		}

	.vbproj {
		background-image: url('content/icons/195.png');
	}

		.vbproj:focus {
			background-color: var(--highlight-color);
			color: var(--background-color);
		}

	.xaml {
		background-image: url('content/icons/xaml.png');
	}

		.xaml:focus {
			background-color: var(--highlight-color);
			color: var(--background-color);
		}

	.ts {
		background-image: url('content/icons/typescript.png');
	}

		.ts:focus {
			background-color: var(--highlight-color);
			color: var(--background-color);
		}

	.selectedFilename {
		background-color: var(--highlight-color);
		color: var(--background-color);
	}

		.selectedFilename:link, .selectedFilename:visited, .selectedFilename:hover, .selectedFilename:active {
			color: var(--background-color);
		}

	.currentResult {
		border-left-color: #484848;
		border-top-color: #484848;
		border-bottom-color: #484848;
		background-color: #444;
	}

		.currentResult:hover {
			background-color: var(--menu-hover-color) !important;
		}

	.resultKind {
		display: inline;
		color: lightblue;
	}

	.resultDescription {
		color: silver;
	}

	.rH {
		background-color: #68217A;
		color: var(--text-color);
	}

	.cz {
		margin-bottom: 66px;
	}

	.tb {
		border: 0;
	}

	#ln {
		color: #2b91af;
	}

	.dH {
		background-color: var(--background-color);
		border-top: var(--background-color) solid;
		color: var(--text-color);
		opacity: 1;
	}

	.headerBody {
		background-color: #68217A;
	}

	#search-box {
		border-color: #484848;
		background: #5a5a5a;
		color: #e0e0e0;
	}

	#logoText {
		color: var(--text-color);
	}

	#currentVersion {
		color: #e0e0e0;
	}

	#downloadButton {
		background-color: #68217A;
		color: var(--background-color);
	}

	#feedbackButtonLink {
		color: var(--text-color);
	}

	#downloadButtonLink {
		color: var(--text-color);
	}

	#licenseButtonLink {
		color: var(--text-color);
	}

	#helpButtonLink {
		color: var(--text-color);
	}

	.result {
		margin: 16px;
		padding: 4px;
		background-color: var(--menu-color);
	}

	.r, .rd {
		cursor: pointer;
	}

	.r {
		border-width: 1px;
		border-color: var(--menu-color);
		border-style: solid;
	}

	.k, a.k {
		color: #569cd6;
	}

	.t, a.t,
	.l, .lineNumber {
		color: #4ec9b0;
	}

	.c {
		color: #57a64a;
	}

	.x, .e {
		color: #808080;
	}

	.s {
		color: #d69d85;
	}

	.xd {
		color: #569cd6;
	}

	.xn {
		color: #A31515;
	}

	.xan {
		color: red;
	}

	.xav {
		color: #569cd6;
	}

	.xer {
		color: red;
	}

	.xcs {
		color: #808080;
	}

	.xpi {
		color: #808080;
	}

	.xld {
		color: #6464B9;
	}

	.xln {
		color: #844646;
	}

	.xlan {
		color: #B96464;
	}

	.xlav {
		color: #6464B9;
	}

	.xlaq {
		color: #555555;
	}

	.xler {
		color: #B96464;
	}

	.xlcs {
		color: #C0C0C0;
	}

	.xlpi {
		color: #C0C0C0;
	}

	.xlee {
		color: #B96464;
		background-color: #FFFEBF;
	}

	a.s, a.s:hover {
		color: #a31515;
	}
	
		p a, 
	ul a, 
	ol a, 
	.blueLink, .blueLink:link {
		color:var(--link-color) !important;
		font-weight: 600!important; 
		text-decoration:none;
	}

	p a:link, p a:hover, p a:focus, p a:active,
	ul a:link, ul a:hover, ul a:focus, ul a:active,
	ol a:link, ol a:hover, ol a:focus, ol a:active,
	.blueLink:hover, .blueLink:focus, .blueLink:active {
		color:var(--link-hover-color) !important;
		font-weight: 600!important; 
		text-decoration:underline !important;
	}



	.partialTypeLink {
		color: #569cd6;
	}

		.partialTypeLink:hover {
			background-color: var(--menu-hover-color);
		}

	.documentOutlineButton {
		background-color: #484848;
		opacity: 0.9;
	}

		.documentOutlineButton:hover {
			border-color: #eeccc0;
			background-color: var(--menu-hover-color);
		}

	.projectExplorerButton {
		border-color: transparent;
		background-color: #484848;
	}

		.projectExplorerButton:hover {
			border-color: #90e6d4;
			background-color: var(--menu-hover-color);
		}

	.namespaceExplorerButton {
		border-color: transparent;
		background-color: #484848;
	}

		.namespaceExplorerButton:hover {
			border-color: #e0e0e0;
			background-color: var(--menu-hover-color);
		}

	.documentOutlineDiv:hover {
		background-color: var(--menu-hover-color);
	}

	.tabChannel {
		background-color: #68217A;
	}

	.activeTab {
		background-color: var(--background-color);
	}

	.inactiveTab, .inactiveTab:link, .inactiveTab:visited {
		background-color: #68217A;
		color: var(--text-color);
	}

		.inactiveTab:hover, .inactiveTab:active {
			color: var(--menu-hover-color);
		}

		#sourcesList li {
			background-color: steelblue;
			color: var(--background-color);
		}

		.externalIndexLinks li {
			background-color: purple;
			color: var(--background-color);
		}

			.externalIndexLinks li a {
				color: var(--background-color);
			}

		.msbuildlink:hover {
			background-color: var(--text-color);
		}

	.projectInfo {
		color: var(--text-color);
	}

	frameset {
		border: none;
	}
	
	* [style="background: yellow;"],
	* [style="background: cyan;"],
	* [style="background: cyan; border-color: black; border-style: solid; border-width: 1px;"]{
		background: #2d4765 !important;
		border: #445464 1px solid;
	}
	
	* [style="background: lime;"] {
		background: var(--text-color) !important;
		color: var(--background-color) !important;
	}

  /* scroll bar */
  ::-webkit-scrollbar {
    max-width: 10px !important;
    max-height: 10px !important;
    background: var(--background-color) !important;
  }
  ::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: var(--background-color) !important;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(175, 175, 175, .5) !important;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(65, 131, 196, .8) !important;
  }

}
